body
{
    background: url('gambar1.jpg');
}
h2
{
    text-align: center
    display: block;
    color:blue;
}
table
{
    text-align: center
    display: block;
    color: blue;
    font-weight: bold;
    font-size: 20pt;
}
.td
{
    display: block;
    font-family: verdana;
    font-style: italic;
}